accelerate==0.32.0
aiohttp==3.9.5
aiosignal==1.3.1
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
Bottleneck
Brotli
certifi
cffi
charset-normalizer
colorama
comm
datasets==2.20.0
debugpy
decorator
defusedxml
dill==0.3.8
executing
fastjsonschema
filelock
frozenlist==1.4.1
fsspec
huggingface_hub
idna
importlib-metadata
intel-openmp==2021.4.0
ipykernel
ipython
jedi
Jinja2
joblib==1.4.2
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
MarkupSafe
matplotlib-inline
mistune
mpmath
multidict==6.0.5
multiprocess==0.70.16
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook_shim
numexpr
numpy
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pyarrow==16.1.0
pyarrow-hotfix==0.6
pycparser
Pygments
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rpds-py
sacrebleu
safetensors
scikit-learn==1.5.1
scipy==1.14.0
streamlit
Send2Trash
sentencepiece==0.2.0
setuptools==69.5.1
six
sniffio
soupsieve
stack-data
sympy
tbb==2021.13.0
terminado
threadpoolctl==3.5.0
tinycss2
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
wcwidth
webencodings
websocket-client
wheel==0.43.0
win-inet-pton
xxhash==3.4.1
yarl==1.9.4
zipp
